VITE_DI_API_KEY={{op://Private/DI Address Helper V2/APIKEY}}
VITE_DI_API_URL={{op://Private/DI Address Helper V2/API_URL}}
VITE_DI_REFERER={{op://Private/DI Address Helper V2/REFERER}}

# Examples:
# VITE_DI_API_KEY=1234567890
# VITE_DI_API_URL=https://example.com
# VITE_DI_REFERER=https://example.com